In [ ]:
!git clone https://github.com/AshishJangra27/Fake-News-Classification

In [ ]:
!unzip /content/Fake-News-Classification/Fake.zip
!unzip /content/Fake-News-Classification/True.zip

In [42]:
import nltk
import gensim
import numpy as np
import pandas as pd
from tqdm import tqdm
from nltk import sent_tokenize
from gensim.utils import simple_preprocess

nltk.download('punkt')

df = pd.read_csv('Fake.csv')
df = df.drop(columns = ['date','subject','text'])
df.head()

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

                                               title
0   Donald Trump Sends Out Embarrassing New Year’...
1   Drunk Bragging Trump Staffer Started Russian ...
2   Sheriff David Clarke Becomes An Internet Joke...
3   Trump Is So Obsessed He Even Has Obama’s Name...
4   Pope Francis Just Called Out Donald Trump Dur...

In [75]:
words = []
corpus = df['title']

for sent in corpus:
  sent_token = sent_tokenize(sent)
  for sent in sent_token:
    words.append(simple_preprocess(sent))

In [76]:
model = gensim.models.Word2Vec(words, window = 5, min_count = 1)

In [77]:
model.wv['donald']

array([ 2.9963885e-02,  6.9916892e-01,  5.9089577e-03,  1.3161108e-01,
        6.0138434e-01, -1.3247480e+00,  7.2556818e-01,  1.8326044e+00,
       -7.6458234e-01, -1.3057165e+00, -1.6064300e-01, -1.9742930e-02,
        7.3810530e-01,  8.5566735e-01,  7.6159161e-01, -4.2601004e-01,
        1.4051830e+00, -9.8786807e-01,  1.6749918e-02, -1.1843784e+00,
        8.7901866e-01,  9.8904692e-02,  1.1338090e+00, -1.0001812e+00,
        2.8840342e-01, -7.5555116e-01, -1.1031886e+00, -3.0290139e-01,
       -2.0527978e-01, -3.4244153e-01,  8.2896656e-01, -2.1056339e-01,
        3.5053739e-01, -4.2831001e-01, -1.0511327e-03,  1.8366688e+00,
       -4.1812417e-01,  6.5724945e-01, -4.1208044e-01, -9.8621987e-02,
        1.6413547e-01,  8.4028117e-02, -2.6336787e-02,  1.5931585e-01,
        2.4653633e-01,  7.3879778e-01, -6.8172282e-01,  1.8784893e-01,
        1.0282851e-01,  8.3206397e-01,  1.0818946e-01, -5.4442084e-01,
       -4.1845167e-01, -5.7537150e-01,  3.6276752e-01, -1.0459250e-01,
        1.2655534e+00,  4.1644159e-01, -1.8213975e-01, -4.4044144e-02,
       -6.7897245e-02, -8.7147452e-02,  2.5493535e-01,  6.7703351e-02,
       -6.0309809e-01,  6.0826749e-01,  1.9045581e-01,  2.5806844e-01,
       -8.7069428e-01,  9.7105479e-01,  3.9400285e-01, -4.3253133e-01,
        7.3014396e-01, -3.6942851e-02,  8.7290674e-01, -4.6236974e-01,
        2.9531753e-01,  2.0380279e-01, -4.6998557e-01,  5.7929707e-01,
       -1.4541658e+00,  2.0948210e-01, -9.3407911e-01,  5.4966533e-01,
        4.0740907e-01, -1.4816615e-01,  7.5092036e-01,  3.0208042e-01,
        5.9564328e-01,  5.9391516e-01,  1.4927894e+00, -3.1627324e-01,
       -4.5228627e-01,  2.8249192e-01,  4.1166246e-02,  2.8142956e-01,
        6.8505123e-02, -1.1815015e-01,  3.9351588e-01,  1.8891980e-01],
      dtype=float32)

In [78]:
sent_vec = []

for sent in tqdm(words):
   sent_vec.append(np.mean([model.wv[word] for word in sent if word in model.wv.index_to_key], axis = 0))

sent_vec = np.array(sent_vec)

  2%|▏         | 427/27474 [00:00<00:12, 2095.14it/s]/usr/local/lib/python3.10/dist-packages/numpy/core/fromnumeric.py:3474: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/lib/python3.10/dist-packages/numpy/core/_methods.py:189: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)
100%|██████████| 27474/27474 [00:12<00:00, 2158.54it/s]
<ipython-input-78-ba931f60f298>:6: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  sent_vec = np.array(sent_vec)